spring:
  datasource:
    url: jdbc:mysql://localhost:3306/class_db
    username: root
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8082

gemini:
  api-key: ${OPENAI_API_KEY}
